* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 20%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 7rem;
}

#form-container {
    display: grid;
}


